<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant Finder Application to find nearby restaurants">
    <meta name="theme-color" content="#1D1D1D" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <title>Oishiinyan</title>
    <link type="image/png" rel="icon" href="./images/favicon/favicon.png">
    <link rel="preconnect" href="https://dicoding-restaurant-api.el.r.appspot.com">
</head>

<body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <app-bar></app-bar>
    <my-hero></my-hero>

    <!-- Start Main -->
    <main id="maincontent">
    </main>
    <!-- End Main -->

    <my-footer></my-footer>
</body>

</html>