@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/regular.min.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    font-size: 14px;
    width: 100%;
    height: 100%;
}

/* NAVIGATION */

.menumob {
    background-image: linear-gradient(90deg, #1D1D1D, #474747);
    padding: 0;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menumob img {
    width: 185px;
    height: 24px;
    justify-self: start;
    margin-left: 16px;
}

.menumob a {
    text-decoration: none;
    color: white !important;
    font-size: 32px;
    padding: 3px 8px;
    margin-right: 10px;
}

.navmob {
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase
}

.navlistmob {
    width: 60%;
    padding: 0;
    margin: 0;
    text-align: left
}

.navitemsmob {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
    color: white !important
}

.navmob a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none
}

.nav {
    background-image: linear-gradient(90deg, #1D1D1D, #474747);
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
}

.navlist {
    width: 80%;
    padding: 0;
    margin-right: 32px;
    text-align: right;
}

.nav img {
    width: 185px;
    height: 24px;
    width: auto;
    justify-self: start;
    margin-left: 32px;
}

.navitems {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase
}

.nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white !important
}

.nav a #aboutus {
    padding-right: 0px;
}

.nav a:hover {
    text-decoration: none
}

/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    text-align: center;
    /* Use "linear-gradient" to add a darken background effect to the image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/heros/hero-image.webp");
    /* Set a specific height */
    height: 50vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero-title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero-tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}

/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
 * Explore
 */

.explore {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.explore__label {
    font-size: 32px;
    font-weight: lighter;
}

.explore__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * Restaurants
 */

.restaurants {
    margin: 32px auto auto;
    text-align: left;
}

.restaurant-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.restaurant-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container {
    position: relative;
    height: 180px;
}

.top-left {
    position: absolute;
    top: 16px;
    left: 16px;
}

.bottom-left {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.bottom-right {
    position: absolute;
    bottom: -22px;
    right: 16px;
}

.restaurant-item__content {
    padding: 16px;
}

.restaurant-item__thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.60) saturate(1.2) contrast(0.80);
}

.restaurant-item__city {
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #fff;
}

.restaurant-item__name {
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    color: white;
}

.restaurant-item__rating {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

/* Multiline-ellipsis done by JS*/

.restaurant-item__description {
    margin-top: 16px;
    font-size: 12px;
    display: block;
    text-align: justify;
}

/* Restaurant Details */

.restaurant {
    margin: 32px auto auto;
    text-align: left;
}

.restaurant-detail-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.detail-item {
    padding: 16px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 16px;
}

.menus>ol {
    padding: 16px 32px;
}

.review-form {
    margin-bottom: 16px;
}

.form-inline {
    flex-direction: column;
    align-items: stretch;
}

/* Add some margins for each label */

.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    min-height: 44px;
    width: 100%;
    box-sizing: border-box;
}

/* Style the submit button */

.form-inline button {
    padding: 10px 20px;
    background-color: #1d1d1d;
    border: 1px solid #ddd;
    color: white;
    min-height: 44px;
}

.no-fav {
    text-align: center;
}

.form-inline button:hover {
    background-color: black;
}

/* Fixed Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 16px;
    background-image: linear-gradient(90deg, #1D1D1D, #474747);
    text-align: center;
    font-weight: bold;
}

.checked {
    color: orange;
}

.button {
    background-color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
}

.fa-heart {
    font-size: 32x;
    color: palevioletred;
}

.link-detail {
    text-decoration: none;
    color: #000;
}

mark {
    background-color: black;
    color: white;
    padding: 3px 6px;
    border-radius: 12px;
}

h2 {
    padding-bottom: 12px;
}

/*
 * Skip Link
 */

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 10px;
    font-size: 20px;
    z-index: 100;
    text-decoration: none
}

.skip-link:focus {
    top: 100px
}

/* Spinner */

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #1d1d1d;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 10%;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 10%;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 10%;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}