/*
 * Navigation
 */

.menumob {
  background-image: linear-gradient(90deg, #1D1D1D, #474747);
  padding: 0;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menumob img {
  width: 185px;
  height: 24px;
  justify-self: start;
  margin-left: 16px;
}

.menumob button {
  color: white !important;
  background-color: transparent;
  font-size: 32px;
  padding: 3px 8px;
  margin-right: 10px;
}

.navmob {
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase
}

.navlistmob {
  width: 60%;
  padding: 0;
  margin: 0;
  text-align: left
}

.navitemsmob {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 24px;
  text-transform: uppercase;
  color: white !important
}

.navmob a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none
}

.nav {
  background-image: linear-gradient(90deg, #1D1D1D, #474747);
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  align-items: center;
}

.navlist {
  width: 80%;
  padding: 0;
  margin-right: 32px;
  text-align: right;
}

.nav img {
  width: 185px;
  height: 24px;
  width: auto;
  justify-self: start;
  margin-left: 32px;
}

.navitems {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 24px;
  text-transform: uppercase
}

.nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: white !important
}

.nav a #aboutus {
  padding-right: 0px;
}

.nav a:hover {
  text-decoration: none
}